<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Prueba Holding VML</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/index.css'>
    <script src='../back/index.js'></script>
    <link rel='stylesheet' type='text/css' media='screen' href='../bootstrap-5.3.3-dist/css/bootstrap.css'>
    <script src='../bootstrap-5.3.3-dist/js/bootstrap.js'></script>
</head>

<body>
    <div class="container title">
        <h2>Lista de tareas</h2>
        <table id="tablaTareas" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TAREA</th>
                    <th>ESTADO</th>
                    <th>COMPLETAR</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>
            <tbody id="bodyTablaTareas">
                
            </tbody>
        </table>
        <button onclick="irAFormInsertarTarea();" type="submit" class="btn btn-primary">Insertar Tarea</button>
    </div>
</body>

</html>